<h3>User</h3>
<p>Created: <%= @user.name if @user.name %></p>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Created: <%= @user.created_at if @user.created_at %></p>
<p>Created: <%= @user.updated_at if @user.updated_at %></p>
<p>Created: <%= @user.last_sign_in_at if @user.last_sign_in_at %></p>
