<h1>Listing Restaurants</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>Phone</th>
  </tr>

  <% gmap = "http://maps.googleapis.com/maps/api/staticmap?center=60452&zoom=12&size=400x400&sensor=false&key=#{@gmaps_key}&markers=color:red"%>
 
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.description %></td>
      <td><%= restaurant.address %> <%= restaurant.city %>, <%= restaurant.state %>, <%= restaurant.zipcode %></td>
      <td><%= restaurant.phone %></td>
      <td><%= image_tag restaurant.image_url(:thumb).to_s %></td>
      <td><%= link_to 'Show', restaurant_path(restaurant) %></td>
      <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant_path(restaurant),
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end -%>
    </tr>
  <% end %>
</table>

<%= link_to 'New Entry', new_restaurant_path %>